@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import './CarouselAboutApplication';

@theme {
  --color-bg-primary: #fff;
  --color-blue: #273777;
  --color-light-blue: #c8d3ff;
  --color-text-blue: #273777;
  --color-brown: #813131;
  --color-red: #aa2423;
  --main-color: #ffff;
  --color-blur: rgba(255, 255, 255, 0.3);
  --shadow-blur: 0 4px 10px rgba(59, 130, 246, 0.3);
  --color-gradient: radial-gradient(
    circle at center,
    white 0%,
    #c8d3ff 60%,
    rgba(124, 131, 159, 0.25) 100%
  );
  /* --color-gradient-hero: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #C8D3FF 100%); */

  --font-roboto: Roboto;
}

:root {
  font-size: min(24px, 3vw);
}
* {
  margin: 0;
}
li {
  display: block;
  height: auto;
}
a {
  display: block;
}
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-color);
  /* font-size: 24px; */
  font-family: 'Roboto', sans-serif;
  font-weight: 100; /* thin */
  color: #000000;
}
.highlighted {
  color: white;
  font-weight: 600;
  padding-right: 16px;
}
.highlighted::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 0;
  background-color: var(--color-text-blue);
  z-index: -1;
}
