@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-bg-primary: #fff;
  --color-blue: #273777;
  --color-light-blue: #c8d3ff;
  --color-text-blue: #273777;
  --color-brown: #813131;
  --color-red: #aa2423;
  --font-roboto: Roboto;
}

:root {
  font-size: min(24px, 3vw);
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
