@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@tailwind utilities;

html {
  scroll-behavior: smooth;
}
#goal {
  scroll-margin-top: 150px;
  scroll-padding-top: 1500px;
}
#problems {
  scroll-margin-top: 150px;
  scroll-padding-top: 1500px;
}
#about {
  scroll-margin-top: 150px;
  scroll-padding-top: 1500px;
}
#contacts {
  scroll-margin-top: 150px;
  scroll-padding-top: 1500px;
}
#audience {
  scroll-margin-top: 150px;
  scroll-padding-top: 1500px;
}
@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 1rem;

    @media (min-width: 640px) {
      padding-inline: 2rem;
    }

    @media (min-width: 1024px) {
      max-width: 1024px;
    }

    @media (min-width: 1280px) {
      max-width: 1280px;
    }

    @media (min-width: 1440px) {
      max-width: 1440px;
    }
    @media (min-width: 1920px) {
      max-width: 1710px;
    }
  }
}

@theme {
  --animate-fade-in: fade-in 0.7s ease-in-out forwards;
  --color-primary: #ffffff;
  --color-tretiary-hover: #ededed;
  --color-tretiary-focused: #dbdbdb;
  --color-segment-control-hover: #ededed;
  --color-segment-control-focused: #ced8ff;
  --color-segment-control-active: #273777;
  --color-blue: #273777;
  --color-light-blue: #c8d3ff;
  --color-text-blue: #273777;
  --color-brown: #813131;
  --color-red: #aa2423;
  --main-color: #ffff;
  --color-blur: rgba(255, 255, 255, 0.3);
  --shadow-blur: 0 4px 10px rgba(59, 130, 246, 0.3);
  --color-gradient: radial-gradient(
    circle at center,
    white 0%,
    #c8d3ff 60%,
    rgba(124, 131, 159, 0.25) 100%
  );
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-xxl: 90rem; /* 1440px */
  --breakpoint-2xl: 120rem; /* 1920px */
  --breakpoint-2xl-max: 106.875rem; /* 1710px */
  /* --color-gradient-hero: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #C8D3FF 100%); */

  --font-roboto: 'Roboto';
  --font-roboto-condensed: 'Roboto Condensed';

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* @utility container {
  margin: 0 auto;

  padding-inline: 0.65rem;
} */

:root {
  font-size: 24px;
}

li {
  display: block;
  height: auto;
}
a {
  display: block;
}
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-color);
  /* font-size: 24px; */
  font-family: 'Roboto', sans-serif;
  font-weight: 100; /* thin */
  color: #000000;
}
.highlighted {
  color: white;
  font-weight: 600;
  padding-right: 16px;
}
.highlighted::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 0;
  background-color: var(--color-text-blue);
  z-index: -1;
}

.burger-btn {
  /* display: none; */
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: gray;
  left: 5px;
  transition:
    opacity 0.2s,
    transform 0.5s,
    background-color 0.5s;
}
.burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.burger-btn span:nth-child(3) {
  transform: translateY(10px);
}
.burger-btn.open span {
  background-color: black;
}
.burger-btn.open span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.burger-btn.open span:nth-child(2) {
  opacity: 0;
}
.burger-btn.open span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.custom-pagination {
  display: flex;
  gap: 8px;
  justify-content: center;

  button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #d9d9d9;
    border: none;
    cursor: pointer;
    padding: 0;

    &.active {
      background: var(--color-text-blue);
    }
  }
}
